* {
    font-family: 'Comic Neue', cursive;;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 80vh;
    width: 80%;
    max-height: 420px;
    max-width: 900px;
    border: black 8px solid;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    font-style: italic;
}

.timezone,
.tz-modal-btn {
    color: rgb(164, 163, 163);
}

.timezone {
    font-size: 1.2rem;
}

.tz-modal-btn:hover {
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.time {
    font-size: 5rem;
    font-weight: 800;
}

#overlay {
    position: fixed;
    width: 99%;
    height: 99%;
    display: flex;
    border: magenta 8px solid;
    background-color: rgb(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.modal-box {
    background-color: white;
    border: black 8px solid;
    border-radius: 1rem;
    display: flex;
    height: 20vh;
    width: 70%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.dropdown {
    width: 60%;
    height: 20%;
    border: rgb(0,0,0) 8px solid;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}

.dropdown-content {
    width: 40vh;
    max-height: 50vh;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
    overflow-y: auto;
    overflow-x: hidden;
    border: rgb(0,0,0) 8px solid;
    border-radius: 1rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

p:hover{
    background-color: rgb(0, 0, 0, 0.2);
}